* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.headerNav{
  display: flex;
  justify-content: space-around;
  background-color: #323333;
  align-items: center;
  width: 100%;
}
h3{
 color: rgb(194,194,194);
 font-size: 1rem;
 text-decoration: underline;

}
h1 {
  color:rgb(238, 238, 238);
  font-size: 1.3rem;
}

.firstText{
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
}
p{
  width: 90%;
  text-align: center;
}

.imagens{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto 13px auto;
  width: 30%;
}

.imagens-cart{
  align-items: center;
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  box-shadow: 2px 3px rgba(161, 161, 161, 0.5);
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: center;
  margin: 0 10px 15px 0;
  width: 180px;
}

.gallery-img{
  width: 150px;
}

.footer{
  display: flex;
  justify-content: center;
}
